 .boton button {
     text-decoration: none;
     border: 3px solid var(--yellow);
     color: var(--black);
     background: var(--yellow);
     padding: 10px 25px;
     font-weight: 600;
     border-radius: 5px;
     text-transform: uppercase;
 }

 .boton button:hover {
     border: 3px solid var(--yellow);
     background: transparent;
     transition: all 0.8s;
     color: var(--white);
 }