


.trabajos {
    background: var(--black);
}


.trabajos-titulo {
    padding-bottom: 3rem;
}

.trabajos-titulo {
    padding-top: 8rem;
}

.contenedor-tarjetas {
    width: 80%;
    margin-left: 10%;
}













