.testimonios{
    background: var(--black);
    border-bottom:  0.2px solid var(--yellow2);
}

.testimonios-titulo {
    padding-bottom: 3rem;
    padding-top: 8rem;
}

.contenedor-tarjetas{
    margin-bottom: 5rem;
   
}


