.sobre-mi {
    background: var(--black);
    border-bottom: 0.2px solid var(--yellow2);


}

.sobre-mi-titulo {
    padding-bottom: 3rem;
    padding-top: 8rem;
}

.contenedor-sobre-mi {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 3rem;
}

.sobre-mi-imagen img {
    width: 100%;
}

.sobre-mi-info p {
    color: var(--white);
    font-size: 18px;
    margin-top: 50px;
}