.Empresas {
    background: var(--black);
    border-bottom: 0.2px solid var(--yellow2);
}

.empresas-titulo {
    padding-bottom: 3rem;
    padding-top: 8rem;
}

.logos-empresas {
    width: 80%;
    margin-left: 10%;
    display: flex;
    margin-bottom: 3rem;
}

.logos-empresas img{
    width: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 680px){
    .logos-empresas img{
        width: 150px;
    }
}

@media screen and (max-width: 460px){
    .logos-empresas img{
        width: 100px;
    }
}